<%= form_for([@article, @article.comments.build]) do |f| %>
  
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :commenter, autofocus: true, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :feedback %>
        <%= f.text_area :body, autofocus: true, class: "form-control" %>
      </div>
        
      <div class="form-group">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

  
