<%= form_for([@article, @article.comments.build]) do |f| %>

  <% if @article.comments.build.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.comments.build.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @article.comments.build.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        
        <%= f.text_field :commenter, autofocus: true, class: "form-control", placeholder: "Name*", label: false %>
      </div>
    </div>
      <div class="col-sm-5">
    <div class="form-group">
      <div class="col-sm-3">
      Rating <span id="ex6SliderVal"> 5</span>
      </div>
      <div class="col-sm-3">
      <%= f.text_field :score, id: 'ex6', type: 'text', label: false,
                 data: {'slider-id' => 'ex6Slider',
                        'slider-min' => '0',
                        'slider-max' => '10',
                        'slider-step' => '1',
                        'slider-value' => '5',
                        "slider-tooltip" => "hide" } %>
      </div>
     <!-- <%= f.label :score %><span class="ast">*</p>
      <%= f.number_field :score, autofocus: true, class: "form-control", min: 0, max: 10 %>-->
    </div>
  </div>
  </div>
    

  
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        
        <%= f.text_area :body, autofocus: true, class: "form-control", placeholder: "Comment*", label: false %>
      </div>
      
      <p class="ahead">* Required</p>
        
      <div class="form-group">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
      
      <% f.hidden_field :user_id, :value => @user_id %>
      
    <% end %>
  </div>
</div>

  
