<% content_for :header do %>
  
<% end %>
 
<table class="table-main">

<% @articles.each do |article| %>
  <tr class="row-main">
    <td class="data-title">
      <%= link_to article_path(article) do %>
        <%= article.title %>
      <% end %>
    </td>
    <td class="data-sub"><%= article.text %></td>
    <% if article.user == current_user %>
      <td class="data-link">
        <%= link_to edit_article_path(article) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
      <td class="data-link">
        <%= link_to article_path(article), method: :delete, data: { confirm: 'Delete your post?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

