<% content_for :header do %>
  <%= @article.title %>
<% end %>

<p class="ahead">The Pitch</p>
<p class="atext"><%= @article.text %>
<% if @article.user == current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>

<p class="ahead">Feedback</p>
<% if @article.comments.count == 0 %>
  <p class="atext">Be the first to give feedback!</p>
<% else %>
  <%= render @article.comments %>
<% end %>
<br/><br/>
<p class="ahead">Give Feedback</p>
<%= render "comments/form" %>

