<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <%= link_to "Yarn", root_path %>
  </li>
  <li>
    <%= link_to "My Blog", articles_path %>
  </li>
  <li>
    <%= link_to 'New article', new_article_path %>
  </li>
  <li>
    <%= link_to "Sign Up", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "Log In", new_user_session_path %>
  </li>
  <li>
    <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
  </li>
</ul>
<div class="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</div>