<ul class="sidebar-nav">
  <br/><br/><br/>
  <li class="sidebar-brand">
    <%= link_to "Landing Page Hunt", root_path %>
  </li>
  <li>
    <%= link_to 'About', about_path %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to new_article_path do %>
        New Page<i class="fa fa-lightbulb-o"></i> 
       <% end %> 
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
        Settings 
        <i class="fa fa-cog"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
    </li>
  <% else %>
    <li>
      <%= link_to "Join Us", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "Log In", new_user_session_path %>
    </li>
  <% end %>
</ul>
<div class="flash" id="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</div>